<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modeloagencia -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="modeloagencia.modeloagencia.presentation.ModeloagenciaModelWizardID"
            name="%_UI_ModeloagenciaModelWizard_label"
            class="modeloagencia.modeloagencia.presentation.ModeloagenciaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModeloagenciaModelFile.gif">
         <description>%_UI_ModeloagenciaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modeloagencia -->
      <editor
            id="modeloagencia.modeloagencia.presentation.ModeloagenciaEditorID"
            name="%_UI_ModeloagenciaEditor_label"
            icon="icons/full/obj16/ModeloagenciaModelFile.gif"
            extensions="modeloagencia"
            class="modeloagencia.modeloagencia.presentation.ModeloagenciaEditor"
            contributorClass="modeloagencia.modeloagencia.presentation.ModeloagenciaActionBarContributor">
      </editor>
   </extension>

</plugin>
